html {
  @include primary-copy-font;
  color: $base-text-color;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  height: 100%;
}

header,
main {
  max-width: 1160px;
  margin: 0 auto;
}

footer {
  background: $tundora;
}

p {
  @include secondary-copy-font;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}

a,
button {
  color: $black;
  transition: all 0.3s;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include main-heading-font;
  line-height: normal;
}

h3 {
  font-size: 47px;
  line-height: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
