.btn {
  border: none;
  outline: none;
  background: none;

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
