.header {
  background: $marzipan;
  margin-top: 40px;
  padding: 15px;

  @include big-tablet-and-bigger {
    padding: 40px 60px;
  }

  &__logo {
    margin-top: -32px;

    @include big-tablet-and-bigger {
      margin-top: -57px;
    }
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
    margin-bottom: 20px;

    @include phone-and-bigger {
      gap: 10px 40px;
    }

    @include desktop-and-bigger {
      & li:nth-child(2) {
        flex-grow: 1;
      }
    }

    @include secondary-copy-font;
    font-size: 15px;
    font-weight: 300;
  }

  &__search {
    width: 100%;
    position: relative;

    @include tablet-and-bigger {
      width: 47%;
    }

    & input,
    & button {
      height: 49px;
    }

    & input {
      width: 70%;
      padding-right: 15px;
      padding-left: 36px;

      &:hover,
      &:focus ~ {
        .header__btn-search,
        .header__line-focus {
          visibility: visible;
        }
      }
    }

    & button {
      border: 2px solid $black;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 16px;
      height: 16px;
    }
  }

   &__search-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  &__btn-search {
    padding: 0 20px;
    margin-left: -5px;
    visibility: hidden;

    &:hover,
    &:focus-visible {
      color: $white;
      background: $black;
      opacity: 1;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &__line-focus {
    display: flex;
    width: 70%;
    height: 2px;
    background: $black;
    z-index: 2;
    margin-top: -2px;
    visibility: hidden;
    transition: visibility 0.3s;
  }

  &__menu {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px 25px;

    @include tablet-and-bigger {
      & li:nth-child(3) {
        flex-grow: 1;

        @include desktop-and-less {
          flex-grow: 0;
        }
      }
    }

    @include big-tablet-and-bigger {
      flex-direction: row;
    }

    @include small-desktop-and-bigger {
      gap: 15px 35px;
    }
  }

  &__catalog {
    position: relative;
    width: auto;
    
    @include tablet-and-bigger {
      width: 47.5%;
    }
  }
  
  &__btn-catalog {
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    &:focus ~ .header__submenu {
      display: flex;
    }
    
    &:hover  .header__icon-plus {
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
  }
  
  &__icon-plus {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    margin-left: 15px;
    transition: transform 0.3s;    
  }

  &__submenu {
    @include secondary-copy-font;
    font-size: 15px;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: normal;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    display: none;
    gap: 10px;

    @include phone-and-bigger {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0 30px;
      gap: 0 30px;
    }

    @include big-tablet-and-bigger {
      gap: 20px 77px;
      width: 130%;
      margin-top: 40px;
    }
  }

  &__subitem {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include big-tablet-and-bigger {
      gap: 20px;
    }
  }

  &__link-submenu {
    display: block;
  }
}
