.logo {
  width: 163px;
  height: 35px;

  &--footer {
    fill: $supernova;
  }

  &__link {
    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

    &--hidden {
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }

      cursor: default;
    }
  }
}
