.logotypes {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 40px;
  }

  &__link {
    height: 100px;
    position: relative;
    
    &:hover .logotypes__logotype--hidden {
      visibility: visible;
    }
  }
  
  &__logotype {
    width: 260px;
    aspect-ratio: 16/6.16;
    object-fit: cover;
    z-index: 2;
    
    &--hidden {
      position: absolute;
      top: 0;
      visibility: hidden;
    }
  }
}
