.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 320px;
  gap: 50px 40px;
  margin: 140px 0;
  position: relative;
  padding: 0 15px;

  @include tablet-and-bigger {
    flex-direction: row;
  }

  @include desktop-and-bigger {
    gap: 0 115px;
  }

  @include services-desktop-and-bigger {
    padding: 0 140px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 104px;
    width: 100%;
    min-height: 288px;
    background: $mercury;
    z-index: -1;
  }

  &__nav-wrap {
    max-width: 280px;
    width: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 7px;
      height: 320px;
      background: $black;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__item {
    position: relative;

    &:active .services__btn {
      color: $marzipan;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      background: $black;
      width: 100%;
      height: 40px;
      z-index: 0;
      display: none;
    }
  }

  &__btn {
    width: 160px;
    z-index: 10;
    padding: 0;
  }

  &__slide {
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 0 15px 15px;
    background: $mercury;
    display: none;

    @include tablet-and-bigger {
      gap: 100px;
      background: none;
      padding: 0;
    }
  }

  &__title {
    font-size: 47px;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 450px;
    line-height: 30px;
  }
}

#delivery:checked ~ .services__slides #slideServisece_1,
#warranty:checked ~ .services__slides #slideServisece_2,
#credit:checked ~ .services__slides #slideServisece_3 {
  display: flex;
}

#delivery:checked ~ .services__nav-wrap label[for='delivery'],
#warranty:checked ~ .services__nav-wrap label[for='warranty'],
#credit:checked ~ .services__nav-wrap label[for='credit'] {
  color: $marzipan;
}

#delivery:checked ~ .services__nav-wrap label[for='delivery']::before,
#warranty:checked ~ .services__nav-wrap label[for='warranty']::before,
#credit:checked ~ .services__nav-wrap label[for='credit']::before {
  background: none;
}

#delivery:checked ~ .services__nav-wrap #nav-btn_1::after,
#warranty:checked ~ .services__nav-wrap #nav-btn_2::after,
#credit:checked ~ .services__nav-wrap #nav-btn_3::after {
  display: flex;
}
