.slider {
  &__input {
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
		display: none;

    @include tablet-and-bigger {
      flex-direction: row;
    }

		@include small-desktop-and-bigger {
			padding: 0 60px;
		}
  }

  &__block {
    @include tablet-and-bigger {
      width: 50%;
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120%;
    }
  }

  &__img-wrap {
  }

  &__slogan {
    @include primary-copy-font;
    font-size: 47px;
    font-size: 2rem;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
  }

  &__description {
    line-height: normal;
    margin-bottom: 15px;
  }

  &__nav-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0;
    margin-bottom: 40px;

    @include phone-and-bigger {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list-nav {
    display: flex;
    gap: 20px;
  }

  &__btn-radio {
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid $black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      border: 1px solid $black;
      border-radius: 50%;
      display: none;
    }
  }

  &__list-specifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 50px;
  }

  &__meaning {
    @include primary-copy-font;
    font-size: 36px;
    font-weight: 300;
  }

  &__quality {
    font-size: 13px;
  }
}

#sl_1:checked ~ #slide_1,
#sl_2:checked ~ #slide_2,
#sl_3:checked ~ #slide_3 {
	display: flex;
}

#sl_1:checked ~ .slider__slide label[for='sl_1']::before,
#sl_2:checked ~ .slider__slide label[for='sl_2']::before,
#sl_3:checked ~ .slider__slide label[for='sl_3']::before {
  display: block;
}
