<div class="all-content header">
  <div class="header__logo">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="assets/images/symbol/sprite.svg#logo"></use>
    </svg>
  </div>
  <nav>
    <ul class="parts-nav header__navigation">
      <li class="header__search">
        <form action="/" method="post" class="header__form">
          <svg class="header__search-icon">
            <use xlink:href="assets/images/symbol/sprite.svg#search"></use>
          </svg>
          <input class="input" type="search" placeholder="Поиск по сайту">
          <button class="btn header__btn-search">Найти</button>
          <span class="header__line-focus"></span>
        </form>
      </li>
      <li class="parts-nav__item">
        <a href="#" class="btn parts-nav__link">Войти</a>
        <svg class="parts-nav__icon header__svg-icon">
          <use xlink:href="assets/images/symbol/sprite.svg#user"></use>
        </svg>
      </li>
      <li class="parts-nav__item">
        <a href="#" class="btn parts-nav__link">Сравнить</a>
        <svg class="parts-nav__icon header__svg-icon">
          <use xlink:href="assets/images/symbol/sprite.svg#compare"></use>
        </svg>
      </li>
      <li class="parts-nav__item">
        <a href="#" class="btn parts-nav__link">Корзина</a>
        <svg class="parts-nav__icon header__svg-icon">
          <use xlink:href="assets/images/symbol/sprite.svg#cart"></use>
        </svg>
      </li>
    </ul>
  </nav>
  <ul class="header__menu">
    <li class="header__catalog">
      <button class="btn header__btn-catalog">Каталог товаров
        <svg class="header__icon-plus">
          <use xlink:href="assets/images/symbol/sprite.svg#plus"></use>
        </svg>
      </button>
      <ul class="header__submenu">
        <li class="header__subitem">
          <a href="#" class="btn header__link-submenu">Виртуальная реальность</a>
          <a href="#" class="btn header__link-submenu">Моноподы для селфи</a>
          <a href="#" class="btn header__link-submenu">Экшн-камеры</a>
        </li>
        <li class="header__subitem">
          <a href="#" class="btn header__link-submenu">Фитнес-браслеты</a>
          <a href="#" class="btn header__link-submenu">Умные часы</a>
        </li>
        <li class="header__subitem">
          <a href="#" class="btn header__link-submenu">Квадрокоптеры</a>
        </li>
      </ul>
    </li>
    <li><a href="#" class="btn">Доставка</a></li>
    <li><a href="#" class="btn">Гарантия</a></li>
    <li><a href="#" class="btn">Контакты</a></li>
  </ul>
</div>